<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org><head>
    <title>Spring Security Example</title>
</head>
<body>

<form style="position: absolute; right: 10px;" th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти">
</form>

<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Age</th>
    </tr>

    <tr th:object="${user}">
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td th:text="${user.getAge()}"></td>
    </tr>
</table>

</body>
</html>